body {
	background: url('../images/tiny_grid.png') repeat scroll 0px 0px #E9E9E9;
}

.content {
	padding-top: 20px;
	padding-bottom: 60px;
	background: #fff;
	min-height: 400px;
}

.alert.alert-danger {
	list-style: disc;
	padding-left: 10px;
}

.alert.alert-danger label {
	font-weight: normal;
	cursor: pointer;
}