h1 {
	padding:0 0 0 40px;
	float:left;
}

h1 a {
	display:block;
	width:240px;
	height:69px;
	text-indent:-9999px;
	background:url(../images/logo.png) 0 0 no-repeat;
}

h3 {
	margin-top: 0px;
	margin-bottom: 8px;
	font-family: 'MyriadProRegular', serif;
	font-size: 29px;
	line-height: 1.208em;
	font-weight: 400;
	color: #000;
}

h4 {
	font-size: 34px !important;
	line-height: 1.205em !important;
	margin-bottom: 3px !important;
}

h4 strong {display:inline-block; line-height:1.2em; color:#ca4b00;}
h4 em {display:inline-block; line-height:1.2em; font-style:normal; color:#000;}

a {color:#ca4b00; outline:none; text-decoration:none;}
a:hover {text-decoration:none;}

blockquote {
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: normal;
}

address {
	line-height: 24px;
}

address span {
	display: inline-block;
	width: 79px;
}

hr {
	border-color: transparent;
	background: url('../images/pic-1.gif') repeat-x scroll 0px bottom transparent;
}

ul {
	list-style-type: none;
}

.alert.alert-danger ul {
	list-style: disc;
	padding-left: 10px;
}

.alert.alert-danger ul li label {
	font-weight: normal;
	cursor: pointer;
}

body {
	background: url(../images/bg-img3.jpg) fixed;
}

header {
	width: 100%;
	position: relative;
	z-index: 2;
	padding: 10px 0 15px 0;
	background:url(../images/header-tail.png) center top repeat;
}

.pager {
	margin: 20px 5px 0px;
}

.pager a {
	color: #428BCA;
	font-size: 14px;
}

.text-orange {
	color: #ca4b00;
}

.btn-orange {
	background-color: rgb(228, 147, 3);
	color: white;
}

.btn-orange:hover {
	background-color: rgb(203, 75, 0);
	color: white !important;
}

.font-lobster {
	font-family: 'Lobster';
}

.container {
	width: 980px !important;
	padding: 0px;
	margin: 0px auto;
	font-size: 13px;
	line-height: 1.714em;
	position: relative;
}

.row {
	margin: 0px;
}

.navbar {
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #fff;
	background: url(../images/menu-row-tail.gif) center top repeat-x #e6e6e6;
}

.navigation-control {
	position: absolute;
	top: -4px;
	right: 7px;
	font-size: 14px;
	color: white;
}

.navigation-control a {

	color: white;
}

.navigation-control a:hover {
	color: #2A6496;
}

.navigation-search {
	position: absolute;
	top: 38px;
	right: 1px;
	font-size: 14px;
	color: white;
	width: 260px;
}

.navigation-search #input-search {

}

ul.nav {
	width: 100%;
	min-height: 58px;
	overflow: hidden;
	background: url(../images/menu-spacer.gif) left top no-repeat;
}

ul.nav li {
	width: 20%;
	text-align: center;
	float: left;
	position: relative;
	background: url(../images/menu-spacer.gif) right top no-repeat;
}

ul.nav li a {
	display: block;
	font-family: 'MyriadProRegular', serif;
	font-size: 20px;
	line-height: 2.5em;
	letter-spacing: -1px;
	padding: 5px 44px 4px 40px;
	color: #000;
}

ul.nav > li:first-child > a {padding:5px 44px 4px 45px;}
ul.nav li.last a {padding:5px 47px 4px 40px;}
ul.nav li a.active,
ul.nav li a:hover {color:#ca4b00;}

.content {
	margin-bottom: 20px;
	width: 100%;
	padding: 30px 0px 20px !important;
	background: url(../images/content-tail.png) left top repeat;
	position: relative;
	z-index: 1;
}

.content > .row > .col-xs-4 {
	padding-right: 26px;
}

.padding {
	padding-left: 24px;
	padding-right: 5px;
}

.bg {
	background: url(../images/bg-tail.png) left top repeat;
	padding-top: 15px;
	padding-bottom: 28px;
}

.about-bg-row p, .about-bg-row ul {
	margin-bottom: 0px;
}

.home-articles-row {
	margin: 0px !important;
	width: 100%;
}

.home-articles-row div.col-xs-4 {
	padding-right: 22px;
}

.home-articles-row div.col-xs-4 p {
	height: 84px;
}

.home-preview-row {
	padding-top: 25px;
}

ul.list-arrow {
	padding-left: 0px;
}

ul.list-arrow li {
	line-height: 24px;
	padding-left: 20px;
	font-size: 12px;
	background: url(../images/marker-1.png) 0 7px no-repeat;
}

ul.list-arrow li a {
	color: #4C4C4C;
	text-decoration: underline;
}

ul.list-arrow li a:hover {
	text-decoration: none;
}

.about-bg-row, .courses-bg-row {
	margin-top: 30px;
	margin-left: -20px;
	padding-right: 20px;
}

.about-bg-row .col-xs-6, .courses-brief-row .col-xs-6 {
	padding: 0px;
}

.events-preview-row, .courses-preview-row {
	margin-bottom: 30px;
	padding: 0px;
}

.events-preview-row img, .courses-preview-row img {
	margin-right: 16px;
}

.events-preview-row.last, .courses-preview-row.last {
	margin-bottom: 0px;
}

footer {
	width: 100%;
	padding: 20px 0 20px;
	background: url(../images/footer-tail.png) center top repeat;
	position: relative;
	overflow: hidden;
	z-index: 99;
	font-size: 14px;
	line-height: 1.214em;
	color: #fff;
	padding-left: 40px;
}
/***** slider *****/
.slider {
	position: relative;
	width: 900px;
	height: 324px;
	margin: 0 auto 30px;
}
.items {display:none;}

.banner {
	width:250px;
	height:324px;
	overflow:hidden;
	position:absolute;
	top:0;
	left:660px;
	z-index:99;
}

.title {
	display:block;
	font-size:44px;
	line-height:2em;
}

.title strong {display:inline-block; line-height:2em; color:#d66901;}
.title em {display:inline-block; line-height:2em; font-style:normal; color:#242424;}

.banner p {
	font-family: 'MyriadProRegular', serif;
	font-size:19px;
	line-height:29px;
	color:#4d4d4d;
}

.banner-2 {
	width:227px;
	height:227px;
	background:url(../images/banner-2.png) 0 0 no-repeat;
	position:absolute;
	left:393px;
	top:-7px;
	z-index:99;
}

.pags {
	position:absolute;
	top: 316px;
	left: 265px;
	z-index: 99;
	list-style-type: none;
}
.pags li {
	float:left;
	padding-right:2px;
}
.pags li a {
	display:block;
	width:23px;
	height:23px;
	text-indent:-9999px;
	background:url(../images/pags.png) right top no-repeat;
	cursor:pointer;
}
.pags li a:hover,
.pags li.current a {background-position:left top;}
.pags li.current a {cursor:default;}

.form-horizontal .form-group label {
	text-align: left;
}

.box-total {
	padding-left: 15px;
	padding-right: 15px;
}

.box-total h3 {
	display: inline-block;
}

.box-total hr {
	margin: 10px 0px 15px;
}

.box-total .total {
	line-height: 35px;
	margin-top: 2px;
	display: inline-block;
	font-size: 28px;
	color: #006837;
	font-weight: bold;
	font-family: 'MyriadProRegular', serif;
}

.box-total button {
	margin-top: 10px;
	width: 100%;
}

.table-cart {
	margin-top: 20px;
}

.table-cart tr td, .table-cart tr th {
	text-align: center;
}

.table-cart tr td:first-child, .table-cart tr th:first-child {
	text-align: left;
}

.table-cart tbody tr td a {
	text-align: center;
	display: block;
	min-height: 60px;
}